*{
	box-sizing: border-box;
}

body{
	margin: 0;
  	font-family: "Lucida Grande";
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
}


.biodata-wrapper{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background:#E5E5E5;
  /*height bisa diedit*/
  height: 1001px;
  overflow:hidden;


}

.heading{
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h3{
	font-weight: normal;
}

.our_profile{
  float: left;
  width: 25%;
}

.our_profile p {
  color: #5e5e5e;
  font-family: "Lato Regular",sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.our_profile_icon{
	position: relative;
	
}

.our_profile_icon img{
	border-radius:50%;
	max-width: 200px;
	max-height: 200px;
	padding: 15px;
	font-size: 30px;
	background:#3598DB

}
.our_profile_icon h3{
	color:#3598DB;
	font-size: 22px;
	font-family: 'lato Bold',sans-serif;
	padding: 15px 0;
	
}

